
.FileUploadCon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 32px;
  border-radius: 14px;
  transition: border 0.1s ease-in-out;
  cursor: pointer;
}

.FileUploadConInIcon {
  display: flex;
  align-items: center;
  border: 1px dashed rgba(255, 255, 255, 0.2);
  padding: 38px 38px;  
  border-radius: 8px;
  transition: border 0.1s ease-in-out;
}

.FileUploadCon:hover, 
.FileUploadCon:hover .FileUploadConInIcon {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.FileUploadCon:hover .FileUploadConInImgTrash {
  visibility: visible;
}

.FileUploadConIn {
  width: 100%;
}


.FileUploadConInDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
}

.FileUploadConInDiv2 {
  display: flex;
  align-items: center;
  gap: 32px;
  width: 100%;
}


.FileUploadConInDesc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}

.FileUploadConInDescP {
  line-height: 24px;
  font-weight: 600;
  font-size: 16px;
}

.FileUploadConInDescSpan {
  line-height: 20px;
  font-size: 14px;
  color: var(--secondary);
}

.FileUploadConInImgCon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  width: 100%;
  height: 100%;
}

.FileUploadConIn {
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
}
.FileUploadConInImgTrash {
  visibility: hidden;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.FileUploadConInImgTrash:hover {
  filter: opacity(0.8);
}


@media (min-width: 768px) {
  .FileUploadCon {
    width: 100%;
  }
  .FileUploadConInDiv {
    flex-direction: row;
  }
}