
.AccountArtCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 165px;
  width: 48%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  background: var(--primaryGradient0);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  
}
.AccountArtCon:hover{
  background: var(--primaryGradient2);
  transform: translateY(-5px);
}

.AccountArtImg {
  position: relative;
  width: 100%;
  height: 200px;
}

.AccountArtDetail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 16px 16px;
  gap: 8px;
}

.AccountArtTitle {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.AccountArtTitleName {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  color: white;
}

.AccountArtTitlePrice {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  color: white;
}
.DollarSign {
  font-size: 16px;
  color: white;
}

.AccountArtDesc {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: white;
  margin-bottom: 8px;
}


@media (min-width: 768px) {
  .AccountArtCon {
    width: 295px;
    height: 350px;
  }
  .AccountArtImg {
    height: 250px;
  }
  .AccountArtTitleName {
    font-size: 20px;
  }
  .AccountArtTitlePrice {
    font-size: 20px;
  }
  .DollarSign {
    font-size: 18px;
  }
}