
.ArtImgContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  height: 600px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: var(--primaryGradient1);
}

.ArtImgTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.ImgLink {
  font-size: 20px;
  font-weight: 600;
  color: var(--info4);
}
.ImgLink:hover {
  color: var(--info6);
}

.ArtImg {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}